extends layout
//- link(rel='stylesheet', href='/stylesheets/index/style.min.css')

block content
  link(rel='stylesheet', href='/stylesheets/index/style.min.css')
  div.panel.suivi-gps
    div.card
      div.img-wrapper
        span.card-author
          img(src="https://pbs.twimg.com/profile_images/646718302165725184/vBdRZBft.jpg")
          div.info-text-author
            div.name-author Antony Canut
            div.pseudo-author @AntonyCanut

      p.detail Membres du groupe GPS
      p
        | Des details
        | Plus de details

    div.card
      div.img-wrapper
        span.card-author
          img(src="https://pbs.twimg.com/profile_images/646718302165725184/vBdRZBft.jpg")
            div.info-text-author
              div.name-author Antony Canut
              div.pseudo-author @AntonyCanut
              
      p.detail Membres du groupe GPS
      p
        | Des details
        | Plus de details

  script(src="/javascripts/app.js")
