extends layout
//- link(rel='stylesheet', href='/stylesheets/index/style.min.css')

block content
  link(rel='stylesheet', href='/stylesheets/index/style.min.css')

  script#panel-card-div.
    if viewModel.tweet
      div.card
        div.img-wrapper
          div.card-author
            img(src="https://pbs.twimg.com/profile_images/646718302165725184/vBdRZBft.jpg")
            div.info-text-author
              div.name-author Antony Canut
              div.pseudo-author @AntonyCanut
          div.data-tweet
            p
              | Des details
              | Plus de details

  div#container-card.panel.suivi-gps
    div.card
      div.img-wrapper
        div.card-author
          img(src="https://pbs.twimg.com/profile_images/646718302165725184/vBdRZBft.jpg")
          div.info-text-author
            div.name-author Antony Canut
            div.pseudo-author @AntonyCanut
        div.data-tweet
          p
            | Des details
            | Plus de details

    div.card
      div.img-wrapper
        div.card-author
          img(src="https://pbs.twimg.com/profile_images/646718302165725184/vBdRZBft.jpg")
          div.info-text-author
            div.name-author Antony Canut
            div.pseudo-author @AntonyCanut
        div.data-tweet
          p
            | Des details
            | Plus de details

  script(type='text/javascript').
    var viewModel = '!{viewModel}';
  script(src="/javascripts/index.js")
