doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/simple-sidebar/style.css')
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/jade/runtime.js')
    script(src='/bower_components/jade/jade.js')
    script(src='/javascripts/layout.js')
  body.bodyColor
    block content
    header#header
    .container
      div#wrapper
        div#sidebar-wrapper
          ul.sidebar-nav
            li.sidebar-brand
              a(href="#") Home
            li
              a(href="#") Configuration
            li
              a(href="#") Voir les retweets
            li
              a(href="#") Voir les likes

      div
        .main-content
          block content

      script#header-jade.
        div.info-twitter
          img.img-twitter(src=viewModel.profile_image_url).image-twitter.roundedImage
          p#UserName= viewModel.name
          p= 'Abonnements/Abonnés : ' + viewModel.friends_count + '/' + viewModel.followers_count

        h1 DOCKITTER
      //- footer
      //-   p Site d'evaluation NodeJS


              //- .sidebar
              //-   block sidebar
