doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/simple-sidebar/style.css')
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/jade/runtime.js')
    script(src='/bower_components/jade/jade.js')
    script(src='/javascripts/layout.js')
  body.bodyColor
    block content
    header
      div.info-twitter
        img.img-twitter(src="https://pbs.twimg.com/profile_images/646718302165725184/vBdRZBft.jpg").image-twitter.roundedImage
        p#UserName Antony Canut
        p 850 Follower
      h1 DOCKITTER
    .container
      div#wrapper
        div#sidebar-wrapper
          ul.sidebar-nav
            li.sidebar-brand
              a(href="#") Home
            li
              a(href="#") Configuration
            li
              a(href="#") Voir les retweets
            li
              a(href="#") Voir les likes

      div
        .main-content
          block content
      //- footer
      //-   p Site d'evaluation NodeJS


              //- .sidebar
              //-   block sidebar
